{% include 'admin/admin-tabs.twig' %}
<h1>Vacation Soup Property Details</h1>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-lg-4">
        I'm in a column
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4">
        And so am I
    </div>
</div>
