{% for service,status in services %}
<div>
    <span class="{{ status?'active':'inactive' }}">{{ service }}</span> {{ status?'is running and connected':'is not running' }}
</div> TODO Split into premium services
{% endfor %}