<div class="field">
    <label for="fb_appKey">
        App ID
    </label>
    <input type="text" id="fb_appKey" value="{{ social.fb.appKey }}"/>
</div>
<div class="field">
    <label for="fb_appSec">
        App Secret
    </label>
    <input type="text" id="fb_appSec" value="{{ social.fb.appSec }}"/>
</div>