<div class="field">
    <label for="fb_appKey">
        App ID
    </label>
    <input type="text" class="persist" id="fb_appKey" name="FB.appKey" value="{{ soc.appKey }}"/>
</div>
<div class="field">
    <label for="fb_appSec">
        App Secret
    </label>
    <input type="text" class="persist" id="fb_appSec" name="FB.appSec" value="{{ soc.appSec }}"/>
</div>