<div class="field">
<p>We have not yet implemented auto-posting to this network. If you would like us to prioritise {{ soc.display_name }}, please vote for it by ticking the checkbox.</p>
    <label for="publish_{{ key|lower }}">Vote</label>
    <input type="checkbox" name="vote" id="publish_{{ key|lower }}" value="{{ key }}"/>
</div>
