<div class="field">
    <label for="pi_appKey">
        App ID
    </label>
    <input type="text" id="pi_appKey" value="{{ social.pi.appKey }}"/>
</div>
<div class="field">
    <label for="pi_appSec">
        App Secret
    </label>
    <input type="text" id="pi_appSec" value="{{ social.pi.appSec }}"/>
</div>