<div class="field">
    <label for="pi_appKey">
        App ID
    </label>
    <input type="text" class="persist" id="pi_appKey" name="PI.appKey" value="{{ soc.appKey }}"/>
</div>
<div class="field">
    <label for="pi_appSec">
        App Secret
    </label>
    <input type="text" class="persist" id="pi_appSec" name="PI.appSec" value="{{ soc.appSec }}"/>
</div>