<div class="field">
    <label for="tw_appKey">
        App ID
    </label>
    <input type="text" id="tw_appKey" class="persist" name="tw.appKey" value="{{ tw.appKey }}"/>
</div>
<div class="field">
    <label for="tw_appSec">
        App Secret
    </label>
    <input type="text" id="tw_appSec" class="persist" name="tw.appSec" value="{{ tw.appSec }}"/>
</div>
<div class="field">
    <label for="tw_accessToken">
        Access Token
    </label>
    <input type="text" id="tw_accessToken" class="persist" name="tw.accessToken" value="{{ tw.accessToken }}"/>
</div>
<div class="field">
    <label for="tw_accessTokenSec">
        Access Token Secret
    </label>
    <input type="text" id="tw_accessTokenSec" class="persist" name="tw.accessTokenSec" value="{{ tw.accessTokenSec }}"/>
</div>